html, body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: url("/images/home-interior.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons button {
  background-color: #FF6138;
  color: #00A388;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-right: 5px;
  transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
  position: relative;
  top: -10px;
}

.button button:hover {
  background-color: #034F66;
}

.buttons button:active {
  background-color: #034154;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: 2px;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 50px 10%;
}

h1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: normal;
}


.buttons {
  position: relative;
  z-index: 10;
}

/* .no-eyes .eye-color  */
.red-eyes .eye-color {
  fill: #FF0000;
}

/* Boo Spin Animation */
@keyframes shake {
  00% {
    transform: rotate(16deg) rotate(10deg);
  }

  40% {
    transform: rotate(25deg) rotate(10deg);
  }

  60% {
    transform: rotate(-10deg) rotate(-10deg);
  }

  100% {
    transform: rotate(-10deg) rotate(-16deg);
  }
}
.boo-text {
  animation: shake 2s infinite;
}
.boo-text .boo {
  fill: #FF0000;
}
.boo-text .boo {
  transition: all .5s;
}
.boo-text:hover .boo {
  transform: scale(1.5);
}

.boo-text .ghost-head {
  animation: shake 1s;
}

.boo-text .ghost-left-arm {
  animation: shake 1s;
}
.boo-text .ghost-right-arm {
  animation: shake 1s;
}

.boo-text .ghost-torso {
  animation: shake 2.5s;
}


@keyframes leftArm {
  20% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(5deg);
  }
}
.move-ghost .ghost-left-arm {
  animation: leftArm 1.3s infinite;
  transform-origin: 40px 65px;
  opacity: .6;
}

@keyframes rightArm {
  20% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(5deg);
  }
}
.move-ghost .ghost-right-arm {
  animation: rightArm 1.3s infinite;
  transform-origin: 65px 40px;
  fill: #FF0000;
}

@keyframes eyes {
  20% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(5deg);
  }
}
.move-ghost .eye-color {
  animation: rightArm 1.3s infinite;
  transform-origin: 65px 40px;
  fill: #FF0000;
}
.move-ghost .ghost-head {
  animation: rightArm 1.3s infinite;
  transform-origin: 65px 40px;
  opacity: .6;
}

/* Move WHOLE BODY of GHOST SVG AROUND */
@keyframes move {
  20% {
    transform: rotateY(10deg) rotateX(10deg);
  }

  40% {
    transform: rotateY(25deg) rotateX(10deg);
  }

  60% {
    transform: rotateY(-10deg) rotateX(-10deg);
  }

  85% {
    transform: rotateY(-10deg) rotateX(-16deg);
  }
}

.move-ghost .ghost-torso {
  animation: move 2.5s infinite;
  opacity: .6;
}

.move-ghost {
  transform: rotate(25deg) scale(2.5);
}

/* To make movement smoother in HTML wrapped it in a DIV container */
.svg-ghost-container {
  perspective: 10px;
}

.ghost {
  float: right;
}
.person {
  float: left;
}

/* PERSON ***** */

/* To invert motuh and shrink it */
.sad .mouth {
  transform: rotate(189deg) scale(.5);
  transform-origin: 340px 390px
}

/* Move elements EYES of SVG AROUND */
@keyframes moveEyes {
   20% {
    transform: translate(-18px, -20px); /* 1st is horizontal, 2nd is vertical*/
   }

   40% {
    transform: translate(0, 0);
   }

   65% {
     transform: translate(18px, -20px);
   }
}

.move-around .inner-eye-group {
  animation: moveEyes 12s infinite;
}

/* Move elements WHISKERS of SVG AROUND */
@keyframes leftWhiskers {
  20% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-5deg);
  }
}

.move-around .left-whiskers {
  animation: leftWhiskers 3s infinite;
  transform-origin: 325px 350px;
}

@keyframes rightWhiskers {
  5% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(7deg);
  }
}

.move-around .right-whiskers {
  animation: rightWhiskers 3s infinite;
  transform-origin: 325px 350px;
}



.move-person {
  animation: move 8s infinite;
}
