html, body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #FFFF9D;
}

.buttons button {
  background-color: #FF6138;
  color: #00A388;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-right: 5px;
  transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
  position: relative;
  top: -10px;
}

.button button:hover {
  background-color: #034F66;
}

.buttons button:active {
  background-color: #034154;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: 2px;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 50px 10%;
}

h1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.buttons {
  position: relative;
  z-index: 10;
}

.lime-eyes .eye-color {
  fill: #BEEB9F;
}

/* To invert motuh and shrink it */
.sad .mouth {
  transform: rotate(189deg) scale(.5);
  transform-origin: 340px 390px
}

/* Move elements EYES of SVG AROUND */
@keyframes moveEyes {
   20% {
    transform: translate(-18px, -20px); /* 1st is horizontal, 2nd is vertical*/
   }

   40% {
    transform: translate(0, 0);
   }

   65% {
     transform: translate(18px, -20px);
   }
}

.move-around .inner-eye-group {
  animation: moveEyes 12s infinite;
}

/* Move elements WHISKERS of SVG AROUND */
@keyframes leftWhiskers {
  20% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-5deg);
  }
}

.move-around .left-whiskers {
  animation: leftWhiskers 3s infinite;
  transform-origin: 325px 350px;
}

@keyframes rightWhiskers {
  5% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(7deg);
  }
}

.move-around .right-whiskers {
  animation: rightWhiskers 3s infinite;
  transform-origin: 325px 350px;
}

/* Move WHOLE BODY of SVG AROUND */
@keyframes move {
  20% {
    transform: rotateY(10deg) rotateX(10deg);
  }

  40% {
    transform: rotateY(25deg) rotateX(10deg);
  }

  60% {
    transform: rotateY(-10deg) rotateX(-10deg);
  }

  85% {
    transform: rotateY(-10deg) rotateX(-16deg);
  }
}

.move-around {
  animation: move 8s infinite;
}

/* To make movement smoother in HTML wrapped it in a DIV container */
.svg-container {
  perspective: 1000px;
}
